@font-face {
    font-family: 'Modak';
    src: url('/fonts/Modak-Regular.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Black.ttf');
    font-weight: 700;
}

@keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0%;
      transform: translateY(-50%);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }

  @keyframes imgEnterBottom {
    0% {

      transform: translateY(100%);
    }
    100% {

      transform: translateY(0);
    }
  }
  @keyframes imgEnterLeft {
    0% {
      opacity: 0%;
      transform: translateX(-50%);
    }
    50%{
        rotate: 0deg;
    }
    100% {
      opacity: 100%;
      rotate: -15deg;
      transform: translateY(0);
    }
  }
  @keyframes imgEnterRight {
    0% {
      opacity: 0%;
      transform: translateX(50%);
    }
    50%{
        rotate: 0deg;
    }
    100% {
        rotate: 15deg;
      opacity: 100%;
      transform: translateY(0);
    }
  }
  
.containerResult{
  background-color: white;
    height: 100vh;
    width: 100vw;
    color:black;
    transition:1s;
    background-size: cover;
    background-position-x: -3rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleResult{
font-family: 'Modak';
font-size: 5rem;
line-height: 1.1;
rotate: -5deg;
margin-top: 5rem;
-webkit-text-stroke: 2px #000; 
text-stroke: 2px #000; 
color: white;
}

.descResult{
height: 20rem;
padding: 0rem 1rem;
font-family: 'Modak';
font-weight: 500;
font-size: 1.8rem;
line-height: 1.1;
text-align: start;
rotate: -2deg;
color: rgb(255, 255, 255);
-webkit-text-stroke: 2px #000; 
text-stroke: 2px #000; 
display: flex;
align-items: center;

}

.buttonDownload{
  width: 10rem;
  background-color: #562C2C;
  border: 2px solid black !important;
  height: 4rem;
  border-radius: 100px;
  font-size: 15px;
}
.containerButons{
  display: flex;
  flex-direction: column;
  height: 8.5rem;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: -12rem;

}
.container{
    background-color: white;
    height: 100vh;
    width: 100vw;
    color:black;
    transition:1s;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.containerQuestion{
  margin-top: 8rem;
  height: 80vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question{
  font-family: 'Modak';
  font-size: 2rem;
  line-height: 0.9;
  height: 10vh;


}

.respValue{
  font-family: 'Lato';
  font-weight: 700;
  margin-top: -1rem;
  margin-bottom: 5rem;
}
.soundIcon{
  width: 60px;
  margin: 4.5rem 0rem 2rem 0rem
}
.inputRange {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  background: white;
  outline: none;
  border: 5px solid white;
  border-radius: 8px;
  margin: 5rem 0rem;
  transform: rotate(-90deg);
}

.nextButtonQuestion{
  width: 10rem;
    height: 4.5rem;
    left: 25%; 
    top: 42vh;
    border-radius: 100px;
    box-shadow: 1px 5px 0px rgb(0, 0, 0);
    background-color: #562C2C;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.1rem;
}


/* for chrome/safari */
.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 60px;
  background: #000;
  cursor: pointer;
  border: 5px solid black;
  border-radius: 4px;
}

/* for firefox */
.inputRange::-moz-range-thumb {
  width: 20px;
  height: 60px;
  background: #000;
  cursor: pointer;
  border: 5px solid lawngreen;
  border-radius: 4px;
}






.titleFirstPage{
    position: absolute;
    font-family: 'Modak';
    margin: 0px !important;
    text-align: left;
    width: 20rem;
    font-size: 5rem;
    transform: translateX(-50%);
    left:50%;
    top: 2.7rem;
    line-height: 0.9;
    animation: slideIn 1s ease;
    rotate: -1deg;
}

.nextButton{
    position: absolute;
    width: 14rem;
    height: 4.5rem;
    left: 25%; 
    top: 42vh;
    border-radius: 100px;
    box-shadow: 1px 5px 0px rgb(0, 0, 0);
    background-color: #562C2C;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.1rem;
    animation: fadeIn 2s ease;
}

.dogBrega{
    position: absolute;
    width: 28rem;
    left: 0rem;
    bottom: 0rem;
    animation: imgEnterBottom 3s;
}
.dogSamba{
    position: absolute;
    width: 22rem;
    bottom: -3rem;
    left: -6rem;
    rotate: -15deg;
    animation: imgEnterLeft 1s;
    

}
.dogRap{
    position: absolute;
    width: 25rem;
    bottom: -5rem;
    right: -10rem;
    rotate: 15deg;
    animation: imgEnterRight 1s;

}
@media (min-width:550px) {
    .container{
        width: 360px;
        height: 640px;
    }
}